<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>Our Current Users List!</H1>
    <ul>   
          <table>
            <thead>
              <tr>
               <th>First Name</th>
               <th>Last Name</th>
               <th>Age</th>
               <th>Gender</th>
             </tr>
            </thead>
            <tbody>
    <% 
        let users = locals.users;
        for (user of users){ %>

             <tr>
                <td><%= user.firstName %></td>
                <td><%= user.lastName %></td>
                <td><%= user.age %></td>
                <td><%= user.gender%></td>
             </tr>     
         <% } %>
            </tbody>
          </table>  
    </ul>
</body>
</html>